{% load static %}

<section>
    <div class="body-background">
        <div class="body-content">
            <div class="content-left">
                <h2 id="h2-body-content">Importância da Saúde e dos Cuidados Pessoais</h2>
                <p id="p-body-content">
                    É crucial cuidar da sua saúde e bem-estar para uma vida harmoniosa. 
                    Neste site, disponibilizamos recursos e instrumentos que auxiliam você a se manter atualizado. Elementos cruciais da sua saúde, como a Calculadora de IMC, são fundamentais para uma vida equilibrada. Neste site, disponibilizamos recursos e instrumentos que auxiliam você a se manter atualizado. Elementos fundamentais da sua saúde, como a Calculadora de IMC, são fundamentais.
                </p>
            </div>  
            <div id="separator"></div>
            <div class="content-right">
                <h2 id="h2-body-content-imc">Calcule seu IMC abaixo</h2>
                <a href="{% url 'calculator' %}" id="button-calculator-imc">Calcular meu IMC</a>
            </div>
        </div>
    </div>
</section>