{% load static %}

<section>
    <div class="body-background">
        <div class="body-content">
            <div class="content-left">
                <h2 id="h2-body-content">Importância da Saúde e dos Cuidados Pessoais</h2>
                <p id="p-body-content">
                    Para manter a sua saúde, é importante fazer o uso de ferramentas disponibilizadas para tal tarefa. Calcular seu IMC é uma das ferramentas para saber se, no geral, o seu peso está saudável para o seu corpo. Por isso, a nossa calculadora pode ser acessada por qualquer visitante do nosso site. Experimente!
                </p>
            </div>  
            <div id="separator"></div>
            <div class="content-right">
                <h2 id="h2-body-content-imc">Calcule seu IMC abaixo</h2>
                <a href="{% url 'calculator' %}" id="button-calculator-imc">Calcular meu IMC</a>
            </div>
        </div>
    </div>
</section>